input.inputColorShift {
	display: block;
}
.charCount {
	padding: 2px 5px;
	display: table-cell;
	float: left;
	font-size: 1em;
	color: #555;
}

.dumpbar {
	float: left;
	display: table-cell;
	height: 5px !important;
	padding: 0;
	margin: 9px 0 5px 0;
	moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;

.inputColorShiftClearElement {
	display: block;
	clear: left;
}
